$o-brand-odoo: #0B6B5C !default;
$o-brand-primary: #0B6B5C !default;

$primary: #0B6B5C !default;
$secondary: #5c6b6a !default; 
$info: #29B188 !default;

$o-home-menu-background-color: #094C44 !default; 

$font-family-sans-serif: "DM Sans", "Avenir Next", "Helvetica Neue", sans-serif !default;